*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
/* ////////////////////////// head ////////////////////////// */
.head{
    position: relative;
    width: 100%;
    height: 100%;
}
 .img-nuage{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  top: 0;
  left: 0;
    z-index: 0;
}
.img-dev{
    position: absolute;
    z-index: 1;
    top: 20%;
    right: 14%;
    width: 35%; 
    height: auto;
}
.titre-head{
    position : absolute;
    z-index: 1;
    top: 25%;
    left: 10%;
    font-size: 3.5rem;
    font-weight: 900;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;


}
.typeWriter{
    position : absolute;
    z-index: 1;
    top: 33%;
    left: 10%;
    font-size: 3.5rem;
    font-weight: 1000;
    color: rgb(59, 130, 246);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

}
.text-head{
    position : absolute;
    z-index: 1;
    top: 42%;
    left: 10%;
    font-size: 1.2rem;
    font-weight: 500;
    width: 40%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

}
.container-reseaux-head{
    position : absolute;
    z-index: 1;
    top: 50%;
    left: 10%;
    width: 40%;
    display: flex;
    gap: 15px;
}
.btn-head{
    position: absolute;
    z-index: 1;
    top: 57%;
    left: 10%;
    background-color: rgb(59, 130, 246);
    color: white;
    padding: 20px 100px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/* ////////////////////////// about me ////////////////////////// */
.about-me{
    padding-left:15% ;
    padding-right:15% ;
}
.titre-about{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    margin-top: 100px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.titre-article-about{
    font-size: 1.7rem;
    margin-top: 50px;
    margin-bottom: 5px;
    color: rgb(59, 130, 246);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

}
.text-article-about{
    font-size: 1.1rem;
    color: rgb(107 114 128);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.tech-about{

}
.article-tech-about{

}
.image-tech-about{
    
}