form {
  margin-top: -20px;
  margin-bottom: 20px;
  width: 100%;
}

.form-hidden {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 1s ease, opacity 1s ease;
}

.form-visible {
  max-height: 1000px; /* taille suffisante pour le formulaire */
  opacity: 1;
  transition: max-height 1s ease, opacity 1s ease;
}

/* ////////////////////////// responsive ////////////////////////// */
