.header-container {
  position: fixed;
  display: flex;
  align-items: center;
  height: 70px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
}

.titre-header {
  font-size: 1.2rem;
  margin-left: 3%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.header-btn-mobile {
  display: none;
}

.nav-header {
  align-items: center;
  display: flex;
  position: absolute;
  right: 8%;
  gap: 2rem;
}

.nav-header-a {
  margin-right: 10px;
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
  border-radius: 15px;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.nav-header-a:hover {
  background-color: rgb(59, 130, 246);
  color: white;
}
.active-a {
  background-color: rgb(59, 130, 246);
  color: white;
}

/* dark */
.header-dark {
  background-color: #374151;
}
.titre-header-dark {
  color: white !important;
}
.header-img-darkmode {
  position: absolute;
  right: 5%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.about-me-dark {
  background-color: #111827;
}
.service-dark {
  background-color: #000000 !important;
}

/* ////////////////////////// responsive ////////////////////////// */
@media (max-width: 768px) {
  .nav-header {
    display: none;
  }
  .header-btn-mobile {
    display: block;
    position: absolute;
    right: 5%;
    width: 20px;
    height: 30px;
    cursor: pointer;
    border: none;
    background-color: white;
    font-size: 20px;
  }
  .nohover:hover {
    background-color: inherit;
    cursor: pointer;
    outline: none;
  }

  .header-btn-mobile-dark {
    background-color: #374151;
    color: white;
  }
  .header-img-darkmode {
    position: absolute;
    right: 15%;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .container-nav-mobile {
    position: fixed; 
    right: 2%;
    top: 9%; /* Ajustez selon le besoin */
    z-index: 9999; /* Assurez-vous que ce z-index est très élevé */
    border-radius: 25px;
    padding: 10px; /* Ajout de padding pour le contenu */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optionnel : ajouter une ombre */
    overflow: hidden;
    background-color: white;
  }
 
  .nav-header-a {
    display: flex;
    flex-direction: column;
  }
}
