.section-projects {
  width: 47%;
  height: auto;
  margin-bottom: 5%;
}
.img-projets {
  width: 100%;
  height: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 0 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container-texte-projects {
  background-color: #1f2937;
  margin-top: -10px;
  padding: 20px;
  z-index: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  border-radius: 0 0 10px 10px;
}
.titre-projects {
  font-size: 24px;
  color: white;
}
.texte-projects {
  margin-top: 5px;
  font-size: 16px;
  color: #9ca3af;
}
.btn-projects {
  margin-top: 15px;
  background-color: #3b82f6;
  color: white;
  border-radius: 8px;
  border: none;
  padding: 10px 15px 10px 15px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
 /* responsive */
 @media (max-width: 768px){
  .section-projects {
    width: 100%;
    margin-bottom: 10%;
  }
 }